/* site styles */
body  {
  font-size: 16px;
  line-height: 1.5; 
}

/* header */
header .navbar  {
  border-radius: 0;
  margin: 0;
}

/* footer */
footer          {
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 14px;
  color: #BBB;
  background: #222;
  text-align: center;
}

/* featured/hero section */
.hero       {
  background-image: url(../img/jellyfish.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 50px;
  padding-top: 50px;
  min-height: 500px;
  position: relative;
}
.hero-content   {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}
.hero-content h2  {
  color: #FFF;
  font-size: 80px;
}
.hero-content p   {
  color: #FFF;
  font-size: 40px;
  margin-bottom: 30px;
}
.hero-content .btn  {
  border-radius: 2px;
  padding: 20px 30px;
}

/* main section */
main    {
  min-height: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
}